<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/select.css">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Select, create, or load a character</h1>
            <button type="button">Delete character</button>
        </div>
        <div id="navButtons">
            <a href="/create" class="col-3 btn btn-primary">Create</a>
            <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>
    </div>
</body>
</html>
